* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

h1 {
    color: #3c3955;
    margin: 20px 0;
    text-align: center;
}

h2 {
    color: #287ccf;
    margin: 20px 0;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

.markdown-alert,
blockquote {
    margin: 20px 0;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background-color: #f6f6f6;
}

.markdown-alert-title {
    font-weight: bold;

    svg {
        display: none;
    }
}

.markdown-alert-caution {
    border: 1px solid #ffd0d0;
    background-color: #ffefef;

    .markdown-alert-title {
        color: #a94e4e;
        fill: #a94e4e;
    }
}

a {
    font-size: x-large;
    text-underline-offset: 6px;

    &:hover {
        text-decoration-line: none;
    }
}

code {
    color: black;
    display: inline-block;
    width: 1em;
    font-size: larger;
}
