* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

h1 {
    color: #3c3955;
    margin: 20px 0;
    text-align: center;
}

h2 {
    color: #287ccf;
    margin: 20px 0;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

blockquote {
    margin: 20px 0;
    padding: 4px;
    border: 1px solid #ffd0d0;
    border-radius: 6px;
    background-color: #ffefef;
}

a {
    font-size: x-large;
    text-underline-offset: 6px;

    &:hover {
        text-decoration-line: none;
    }
}
